<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.ssm.dao.mapper.UserMapper">

	<resultMap type="jk.domain.Factory" id="facroryRM"></resultMap>

	<!-- 根据用户id查询用户信息 编写statement parameterType：指定传入数据参数的类型 resultType：映射生成的java对象类型，select查询结果集的列名要和resultType指定java对象的属性名保持一致才可以映射 
		#{}:表示占位符,如果要传递简单类型数据，#{}可以写任意名称 -->
	<select id="find" parameterType="map"
		resultMap="facroryRM">
		SELECT * FROM factory_c where 1=1
	</select>

	<!-- 用户插入 传用户类型的对象(user), 传入的是user对象，#{}中写user对象的属性名 -->
	<insert id="insertUser" parameterType="cn.itcast.ssm.po.User">

		<!-- 将自增主键返回到user对象 keyProperty：返回到user对象中的属性名 order：返回主键的时机 LAST_INSERT_ID:通过此函数获取自增主键值 -->
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>

		INSERT INTO USER(username,birthday,sex,address,detail,score)
		VALUES(#{username},#{birthday},#{sex},#{address},#{detail},#{score})
	</insert>
	
	<delete id="deleteUserById" parameterType="java.lang.Integer">
		DELETE FROM USER WHERE id=#{id}
	</delete>
	
</mapper>

